.contents.row
  .content_post{style: "background-image: url(#{@tweet.image});",class:"image"}
    %span.title
      = @tweet.title
    .link
      -if @tweet.link 
        = link_to 'サイトのリンク', @tweet.link
    = simple_format(@tweet.text)
    .nickname
      %span 投稿者
      = @tweet.user.nickname
    .delete
      -if user_signed_in?
        -if @tweet.user.id == current_user.id
          = link_to "削除",tweet_path(@tweet.id),method: :delete
  .container
    = form_with(model: [@tweet, @comment], local: true, id: "new_comment") do |form|
      = form.text_area :text, placeholder: "ディベートしよう", rows: "5", class: "textbox"
      = form.submit "SEND", class: "form__submit"
  .comments
    %h4 ＜コメント＞
    - @comments.each do |comment|
      %p.first-comment{"data-message-id":comment.id}
        = comment.user.nickname
        = comment.text
