!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Debate-app
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header.header
      .header__bar.row
        %h1.grid-6
          %a.grid-6__1{:href => "/"} debate
        - if user_signed_in? 
          = link_to "ログアウト", destroy_user_session_path, method: :delete 
          = link_to  "投稿する", "/tweets/new"
        - else 
          = link_to "ログイン", new_user_session_path
          = link_to "新規登録", new_user_registration_path
    = yield
    %footer
      %p
